label {
  display: block;
  font-weight: bold;
}

input[type="number"] {
  display: block;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table-container {
  border: 1px solid;
}
